body {
    background-color: #1a2236;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}
.sidebar {
    background-color: #1a2236;
    height: 100vh;
    padding: 20px;
    position: fixed;
    width: 250px;
}
.sidebar a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.sidebar a:hover {
    background-color: #2a2f45;
}
.sidebar .active {
    background-color: #2a2f45;
}
.content {
    flex: 1;
    margin-left: 250px;
    padding: 20px;
    margin-bottom: auto;

}

.status-active {
    color: #00c853;
}
.status-disabled {
    color: #d32f2f;
}
.btn-primary {
    background-color: #1a73e8;
    border: none;
}
.btn-primary:hover {
    background-color: #155ab6;
}
.btn-secondary {
    background-color: #2a2f45;
    border: none;
}
.btn-secondary:hover {
    background-color: #1a2236;
}
table {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}
/* Style untuk tabel */
th, td {
    padding: 12px 15px;
    text-align: center;
}

/* Mengatur header tabel */
th {
    background-color: #232f4d;
    color: #fafbfc;
    font-weight: bold;
}

/* Warna latar belakang baris ganjil dan genap */
tbody tr:nth-child(odd) {
    background-color: #565d7b;
}

tbody tr:nth-child(even) {
    background-color: #2a2f45;
}

/* Efek hover untuk baris tabel */
tbody tr:hover {
    background-color: #1a2236;
}
.search-bar {
    width: 50%;
    max-width: 600px; /* Atur lebar maksimal jika diinginkan */
}

/* Gaya modal kustom */
.modal-content {
    border-radius: 8px; /* Membuat sudut lebih melengkung */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan pada modal */
    background-color: #232f4d;
}

.modal-header {
    padding: 20px;
    Background-color: #2a2f45;/* Ganti dengan warna tema Anda */
    background-color: #2a2f45;/* Ganti dengan warna tema Anda */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modal-body {
    padding: 20px;
    background-color: #232f4d;
}
.modal-form{
    background-color: #232f4d;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    Background-color: #232f4d;
    background-color: #232f4d;
}

.form-check-label {
    font-size: 14px;
}

.form-check-input {
    margin-right: 10px;
}

/* Responsif untuk modal */
@media (max-width: 768px) {
    .modal-dialog {
        max-width: 100%;
    }
}
footer{
    background-color: #232f4d;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: 0; /* Memastikan footer berada di bawah */
    padding-left: 20px;  /* Memberikan jarak dari sisi kiri */
    padding-right: 20px; /* Memberikan jarak dari sisi kanan */
    margin-bottom: 0;
}

#eror_input{
    color: #A02334;
}

.list-container{
    border: 1px solid gray;
    padding: 15px;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-obat{
    border-bottom: 1px solid gray;
}

.daftar-obat{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.obat{
    display: flex;
    justify-content: space-around;
    background-color: #B3C8CF;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.qty{
    display:block;
}


.main{
    margin-top: 10%;
}

.hero{
    background-color: #89A8B2;
    padding: 10px;
    border-radius: 100px;
    text-align: center;
    box-shadow: 2px 2px 2px white;
}

.total{
    display: flex;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border-top: 1px solid gray;
}